.ag-theme-quartz {
    --ag-foreground-color: rgb(14, 68, 145);
    --ag-background-color: rgb(241, 247, 255);
    --ag-header-background-color: rgb(228, 237, 250);
    --ag-row-hover-color: rgb(216, 226, 255);
    --ag-font-size: 14px;
    --ag-grid-size: 4px;
  }
  .badge {
    background-color: #3f51b5;
    color: #fff;
    padding: 3px 6px;
    border-radius: 6px;
  }
  